@import "ui-variables";

.codeblue {
  width: 100%;
  padding: 10px;
}

.profile {
  display: flex;
  padding: 10px;

  span {
    font-size: 1.2em;
    font-weight: bold;
    margin: auto 10px;
  }
}

.profile-image {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #3e3e42;

  img {
    position: relative;
    height: 30px;
    // left: -20%;
  }
}

.fillup {
  width: 100%;
  padding: 10px;

  span {
    font-weight: bold;
    font-size: 1.1em;
    color: #909090;
    padding: 10px;
    margin-right: 10px;
  }

  input {
    border: none;
    padding: 5px;
    background: #434350;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-align: center;
  }

  button {
    border: none;
    padding: 10px;
    position: absolute;
    font-size: 1.2em;
    background: #22b982;
    margin: 40px auto;
    left: 45%;
    font-weight: bold;
    border-radius: 18px;
    color: white;
  }
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
}

.waiting {
  display: flex;
  flex-direction: column;

  button {
    border: none;
    width: 100px;
    padding: 10px;
    margin: 50px auto auto;
    border-radius: 10px;
    background: #0084b4;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
  }
}

.headinfo {
  i{
    color: #d1a915;
    cursor: pointer;
  }
  span {
    position: absolute;
    padding: 5px 10px;
    font-weight: bold;
    top: 46px;
    right: 10px;
    cursor: pointer;
  }
}

.refreshsubmissions {
  position: absolute;
  border: none;
  background: #383f4b;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  top: 20px;
  right: 10px;
}

.problems {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.prob {
  padding: 15px 8px;
  // margin: 5px 0;
  font-size: 1.1em;
  display: flex;
  justify-content: flex-start;
  border-radius: 8px;
  cursor: pointer;

  span {
    width: 45%;
    font-weight: bold;
  }
}

.prob:nth-child(even) {
  background-color: #373c44;
}

.totsub {
  width: 75px !important;
  color: #328bff;
}

.accepted {
  font-size: 0.8em;
  height: 23px;
  color: #fff;
  background: #04a63a;
  font-weight: bold;
  margin-left: 10px;
  padding: 4px;
  border-radius: 8px;
}

.wrong {
  font-size: 0.8em;
  height: 23px;
  width: 80px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  background: #cb0000;
  padding: 4px;
  border-radius: 8px;
}

.tle {
  font-size: 0.8em;
  height: 23px;
  width: 80px;
  text-align: center;
  color: #fff;
  background: #de8d00;
  font-weight: bold;
  margin-left: 10px;
  padding: 4px;
  border-radius: 8px;
}

.mle{
  font-size: 0.8em;
  height: 23px;
  width: 80px;
  text-align: center;
  color: #fff;
  background: #b300de;
  font-weight: bold;
  margin-left: 10px;
  padding: 4px;
  border-radius: 8px;
}

.runtime {
  font-size: 0.8em;
  height: 23px;
  width: 80px;
  text-align: center;
  color: #fff;
  background: #af4827;
  font-weight: bold;
  margin-left: 10px;
  padding: 4px;
  border-radius: 8px;
}

.loader {
  border: 16px solid #505053;
  border-top: 16px solid #1989d4;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 90px;
  margin-top: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.queue,
.queue:after,
.queue:before {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.queue {
  color: #ffffff;
  margin-top: -18px;
  left: 35px;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.queue:after,
.queue:before {
  content: '';
  position: absolute;
  top: 0;
}

.queue:before {
  left: -15px;
  animation-delay: -0.32s;
}

.queue:after {
  left: 15px;
}
@-webkit-keyframes load7 {
  0%,
  100%,
  80% {
    box-shadow: 0 23px 0 -12px;
  }

  40% {
    box-shadow: 0 23px 0 0;
  }
}
@keyframes load7 {
  0%,
  100%,
  80% {
    box-shadow: 0 23px 0 -12px;
  }

  40% {
    box-shadow: 0 23px 0 0;
  }
}

.actions {
  display: flex;
  flex-direction: column;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  flex-direction: column;
}

.up {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  span {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
  }

  button {
    border: none;
    background: #383f4b;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
}

.realsubmit{
  background: #188330 !important;
  color: #fff;
}

.cancel{
  background: #a11c18 !important;
  color: #fff;
}

.down {
  display: none;
  flex-direction: column;
  padding: 5px 10px;
  transition: 1s;
}

.verdict{
  display: flex;
  flex-direction: column;
}

.errordetails{
  pre{
    font-weight: bold;
    color: #b3b3b3;
  }
}

.show-verdict {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 1px 0;
  background: #191c20;

  span {
    font-size: 1.2em;
    color: #bbb;
    font-weight: bold;
  }
}

.icon-check {
  color: #00ba29;
}

.icon-x {
  color: #d7282d;
}

.icon-clock {
  color: #d1b330;
}

.icon-alert {
  color: #ee7411;
}

.icon-stop{
  color: #e93961;
}

.icon-database{
  color: #b553e4;
}

.icon-light-bulb{
  color: #d1a915;
}

.action-view {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 1px 0;
  background: #191c20;

  i{
    width: 15%;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    word-spacing: 5px;
  }

  span {
    font-size: 1.2em;
    color: #bbb;
    font-weight: bold;
  }

  span:nth-child(1) {
    margin-left: 5px;
    width: 20%;
  }

  span:nth-child(3) {
    width: 30%;
    padding: 0 25px;
    text-align: left;
  }

  span:nth-child(4) {
    width: 30%;
    text-align: right;
  }
}

.icon-chevron-down{
  cursor: pointer;
}

.icon-chevron-right{
  cursor: pointer;
}

.titlename{
  color: #1abc9c;
}
